<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      SENAC - Desenvolvimento Mobile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">SENAC - Desenvolvimento Mobile</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Pronto para criar um Aplicativo?</strong>
    <p>Começe com o Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>


  <ion-item>
    <ion-label>Nome</ion-label>
    <ion-input type="text" placeholder="Insira o Nome."></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Telefone</ion-label>
    <ion-input type="tel" placeholder="Insira o Telefone."></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Email</ion-label>
    <ion-input type="email" placeholder="Insira o Email."></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>CPF</ion-label>
    <ion-input type="number" placeholder="Insira o CPF."></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Senha</ion-label>
    <ion-input type="password" placeholder="Insira a Senha."></ion-input>
  </ion-item>

</div>

</ion-content>
